[project]
	description = Maven Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tarun Tyagi (taruntyagi)
[access "refs/for/refs/*"]
	read = group user/Tarun Tyagi (taruntyagi)
	push = group user/Tarun Tyagi (taruntyagi)
	label-Code-Review = -2..+2 group user/Tarun Tyagi (taruntyagi)
	label-Verified = -1..+1 group user/Tarun Tyagi (taruntyagi)
	rebase = group user/Tarun Tyagi (taruntyagi)
	removeReviewer = group user/Tarun Tyagi (taruntyagi)
	submit = group user/Tarun Tyagi (taruntyagi)
[access "refs/heads/*"]
	read = group user/Tarun Tyagi (taruntyagi)
	create = group user/Tarun Tyagi (taruntyagi)
	push = +force group user/Tarun Tyagi (taruntyagi)
	pushMerge = group user/Tarun Tyagi (taruntyagi)
[access "refs/tags/*"]
	push = +force group user/Tarun Tyagi (taruntyagi)
	pushTag = group user/Tarun Tyagi (taruntyagi)
	pushSignedTag = group user/Tarun Tyagi (taruntyagi)
